@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transform: 0.2s linear;
}

body{
  background-color: #214365;
}
section{
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1200px;
}



.logo img{
  height: 60px;
}

.header{
  background-color: #102132;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu-desktop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.navbar{
  font-size: 30px;
  margin: 0 1rem;
}
.navbar a{
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.title{
    font-family: "Cal Sans", sans-serif;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.home-container section{
  padding-top: 6%;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.home-container section img{
  margin-top: 40px;
  width: 90%;
  margin-bottom: 25px;
}

.home-container section p{
  text-align: justify;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 34px;
  margin-bottom: 15px;
}

.home ul li{
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  text-align: left;
  align-items: left;
  display: flex;
  border-radius: 15px;
  margin-bottom: 15px;
  border: rgba(0,0,0,0.3) solid 4px;
  background-color: transparent;
}
.home ul li img{
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
}
.home ul li h3{
  margin-left: 20px;
  margin-top: 75px;
  font-size: 30px;
  color: #fff;
}
.div{
  display: none;
  animation: fade-in 0.8s ease;
  animation-fill-mode: forwards;
}


@keyframes fade-in{
  from{
    opacity: 0;
  } to{
    opacity: 1;
  }

}
/*Footer do site*/
footer section{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
}

#Redes-d-contato{
    justify-items: center;

}
#Redes-d-contato img{
    height: 60px;
    margin-bottom: 7px;
}
#Redes-d-contato a{
    margin-right: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}
#Redes-d-contato a i{
    font-size: 20px;
}
#redes-sociais{
    display: flex;
}

#contato h1{
    font-family: "Poppins" sans-serif;
    color: #fff;
    font-size: 40px;
}
#contato li{
    list-style: none;
    color: #fff;
    margin-bottom: 7px;
}
#contato a{
    font-size: 15px;
    text-align: center;
    align-items: center;
}
#contato a i{
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}
#insta{
    background: linear-gradient(#7f37c9, #ff3992, #ff9807);
}
#whats{
    background-color: #25d366;
}
#linkedin{
    background-color: #4267b3;
}
#copy{
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0,0,0,0.1);
}
footer{
    background-color: rgba(0,0,0,0.5);
}


.mobile-menu{
display: none;
}
.mobile-menu-icon{
display: none;
}

@media screen and (max-width: 1020px) {
    .logo img{
      height: 40px;
    }
    .header section{
      padding-top: 0rem;
      padding-bottom: 0.5rem;
    }
    .navbar{
      display: none;
    }
    .title{
      margin-top: 100px;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .home ul li img{
      width: 120px;
      height: 80px;
    }
    .home ul li h3{
      font-size: 14px;
      margin-top: 60px;
    }
    #li-h3{
      margin-top: 50px;
    }
    .home-container section p{
      font-size: 17px;
    }


    /*Menu mobile*/
    #logo-desktop{
      display: none;
    }

    .mobile-menu-icon{
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
    }
    .mobile-menu button{
        background-color: transparent;
        border: none;
    }
    .mobile-menu{
        display: none;
        flex-direction: column;
        padding-bottom: 1rem;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        background-color: #000000;
        width: 70%;
    }
    .mobile-menu a{
        text-align: right;
        padding-right: 30px;
        display: block;
        margin-top: 1.2rem;
        text-decoration: none;
        color: #fff;
        font-size: 25px;
        font-weight: 300;
    }
    .icon-fechar{
        margin-top: 6px;
        margin-left: 6px;
        height: 40px;
    }
    .open{
        display: block;
    }
    .overlay-menu{
        background-color: #000000a9;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }
    .mobile-menu.open ~ .overlay-menu{
        display: block;
    }

}